[submodule "coreos-vagrant"]
	path = coreos-vagrant
	url = https://github.com/coreos/coreos-vagrant
[submodule "roles/ansible-coreos-bootstrap"]
	path = roles/ansible-coreos-bootstrap
	url = git@github.com:defunctzombie/ansible-coreos-bootstrap.git
